@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:wght@300&family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,700;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
}